// globar css
@mixin flexcenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}
//variables
$primary-color:#001424;
$secondrey-color :#009aad;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-full {
    width: 100%;
    height: 100vh;
    @include flexcenter(column)
}
button{
    border: 0;
    background: rgb(0, 51, 82);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    

}

.App {
    background: $primary-color;
  
}
//-----global css end-----

//haeder start
.brand{
    position: absolute;
    color: aliceblue;
    margin: 30px;
    font-size: 2rem;
}
.navbar{
    padding: 30px 0;
    text-align: right;
    z-index: 10;
    position: relative;
    margin-right: 30px;
    .active-nav{
        // background: rgb(29, 0, 70);
        box-shadow: 0px 0px 14px -2px $secondrey-color;
        color:aliceblue;
        padding:10px;
        border-radius: 9px;
        // margin-right: 0px;
        text-decoration: none;
    }
    .nav{
        margin-right: 40px;
        background: rgb(29, 0, 70);
        margin-right: 10px;
        padding:10px;
        border-radius: 9px;
        margin-right: 10px;
        text-decoration: none;
        color: white;
    }
}
//------header end

//home start 
.banner {
    background-image: url("../../public/img/banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100vw;
    // position: absolute;
    margin-top: -80px;
    top: 0;
    color: aliceblue;
    width: 100%;
    box-shadow:  -1px 6px 20px 0px #072f49;
    // z-index: 101;
    .banner-info{
        margin-top: 430px;
        // background: #000;
        position: absolute;
        margin-left: 30px;
        p{
            margin-bottom: 20px;
            font-size: 1rem;
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: 600px;
        position: absolute;
        // top: ;
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.77))
    }
  }
  .services{
      color: aliceblue;
    background: #001424;
    
    // height: 500px;
    h4{
        padding-top: 80px;
        text-align: center;
        font-size: 1.5rem;
    }
    // margin-top: 30px;
    .services-container{
        display: flex;
        flex-wrap: wrap;
    }

    }
    .servicediv{
      margin: 30px auto;
      width: 300px;
      height: 350px;
      background-position: center;
      background-size: cover;
      position: relative;
      border-radius: 20px;
        transition: .6s;
    box-shadow: 0px 0px 14px -2px $secondrey-color;
    .info{
        position: absolute;
        bottom: 20%;
        left: 20px;
        // right: 20px;
    }
    button{
        position: absolute;
        bottom: 20px;
        right: 40px;
    }
    &:hover{
        box-shadow: 0px 0px 14px -2px rgb(55, 202, 255);
        
      
    }

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.172);
        top: 0;
        left: 0;
    }
  }
//   blogs start
.blogs-container{
    color: aliceblue;
    // height: 100vh;
    padding-bottom: 50px;
    .blogs{
        width: 70%;
        margin: 40px auto;
        border: 1px solid;
        padding: 30px;
    }
}
// blogs end--

//about start

// about end--------

//login form start
.login-text {
    background: rgb(55, 55, 55);
    height: 59px;
    width: 400px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    p {
        color: rgb(149, 149, 149);
        font-size: 1.4rem;
        margin-left: 20px;
    }

}
.login {
    @include flexcenter(column);
    height: 500px;
    width: 400px;
    // border: 1px solid black;
    background: rgb(115, 115, 115);
    // border-radius: 20px;
    border-end-start-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    input {
        padding: 20px 40px;
        font-size: 1.4rem;
        border: 0;
        border-bottom: 1px solid;
        margin-bottom: 2rem;
        background: rgba(86, 86, 86, 0.154);
        color: aliceblue;
        border-radius: 5px;
        outline: 0;
    }

    button {
        padding: 10px 30px;
        border-radius: 5px;
        border: 0;
        font-size: 1rem;
      
    }
    .icons{
        margin-top: 10px;
        .icon{
            margin-right:20px;
            width: 35px;
            height: 35px;
            background: rgb(123, 123, 123);
            padding:10px;
            border-radius: 50%;
            cursor: pointer;
            transition: .7s;
            &:hover{
                transform: scale(1.2);
            }
        }

    }
}

//login form end